# Xcode
#
build/
DerivedData/
*.placeholder
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
.DS_Store
/profile
xcuserdata/

# Swift Package Manager
#
.build/
.swiftpm/
